<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Twenty57.Linx.Plugin.Common" publicKeyToken="d7f03d358506bc3d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.0.16.271" newVersion="17.0.16.271" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>