<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.11" targetFramework="net45" />
  <package id="NUnit" version="3.7.1" targetFramework="net45" />
  <package id="Twenty57.Linx.Plugin.Common" version="16.0.0.224" targetFramework="net45" />
  <package id="Twenty57.Linx.Plugin.TestKit" version="16.0.0.224" targetFramework="net45" />
</packages>